.btn {
	min-width: max-content;
	padding: 0.5rem 1rem;
	display: inline-block;
	border-radius: 0.5rem;
	border: unset;
	outline: unset;
	cursor: pointer;
}

.btn-primary {
	font-size: 2rem;
	padding: 1rem 2rem;
	text-transform: capitalize;
}
