// ALL GRID AND DISPLAY LAYOUT COMPONENTS HERE
.grid {
	display: grid;
	width: 100%;
}

.col-3 {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-content: space-between;
	gap: 2rem;
}

.card {
	padding: 2rem;
	border-radius: 0.5rem;
}

.split-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 4rem;
	gap: 2rem;
	width: 90%;
	margin: 2rem auto;

	&__txt {
		width: 60%;
	}

	&__img {
		width: 35%;

		.main-img {
			width: 100%;
		}
	}
}

// ==================== MEDIA QUERIES ==================
@media screen and (max-width: 650px) {
	.split-2 {
		flex-direction: column;
		padding: 4rem;
		width: 100%;

		&__txt {
			width: 100%;
		}

		&__img {
			width: 80%;
		}
	}
}
