// GENERAL UTILITIES SETTINGS

.icon {
	height: 2rem;
	aspect-ratio: 1/1;
}

.primary-color {
	color: hsl(34, 83%, 55%);
}

.primary-bg {
	background-color: hsl(34, 83%, 55%);
}

// navbar styles on scroll
.header-bg {
	background-color: hsl(211, 15%, 33%);
	color: hsl(0, 0%, 100%);
}

.hidden {
	display: none !important;
}

.active {
	border-bottom: 2px solid hsl(34, 83%, 55%);
}
