// GENERAL FONT SETTINGS HERE
.primary-heading {
	font-size: clamp(2rem, 5vw + 1rem, 4rem);
	line-height: 1;
	margin: 2rem;
	text-transform: capitalize;
}

.secondary-heading {
	font-size: 2rem;
	line-height: 1;
	margin-block: 1rem;
	text-transform: capitalize;
}

.tertiary-heading {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1;
	margin-block: 1rem;
	text-transform: capitalize;
}

.paragraph {
	margin-block: 1rem;
	line-height: 1.5;
	font-size: 1.5rem;
}

// =============== MEDIA QUERIES ===============
// @media screen and (max-width: 650px) {
// 	.primary-heading {
// 		font-size: 2rem;
// 	}

// 	.secondary-heading,
// 	.tertiary-heading {
// 		font-size: 1.8rem;
// 		margin-inline: 2rem;
// 	}
// }
