// GENERAL FONT SETTINGS HERE
.primary-heading {
	font-size: 2.5rem;
	line-height: 1;
	margin: 2rem;
	text-transform: capitalize;
}

.secondary-heading {
	font-size: 2rem;
	line-height: 1;
	margin-block: 1rem;
	text-transform: capitalize;
}

.tertiary-heading {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1;
	margin-block: 1rem;
	text-transform: capitalize;
}

.paragraph {
	margin-block: 1rem;
	line-height: 1.5;
	font-size: 1.5rem;
}
