// COLORS
$primaryColor: hsl(34, 83%, 55%);
$secondaryColor: hsl(35, 68%, 11%);
$accentColor: hsl(211, 15%, 33%);

$brightOrange: hsl(22, 84%, 53%);
$paleOrange: hsl(30, 100%, 70%);

$backgroundColor: hsl(0, 0%, 100%);
$textColor: hsl(217, 33%, 17%);

// SIZES
$tiny: 2rem;
$small: 4rem;
$medium: 6rem;
$big: 8rem;
$large: 10rem;
