// ============ ABOUT PAGE STYLE =====================
@use '../abstracts/variables' as *;

@use 'abstracts/mixins' as *;

.about-page {
	background-color: rgba($accentColor, 0.2);

	@include desktop-display;

	.header {
		background-image: url('/assets/images/about-bg.png');
		max-height: 56rem;

		&__wrapper {
			background: rgba(236, 153, 47, 0.2);
		}
	}

	.navbar {
		top: 0;
	}

	.hero {
		width: 80%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.about__logo {
		width: 100%;
	}

	.main {
		margin-block: $small;
	}

	// =============== VISION SECTION ===============
	.vision {
		width: 80%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: $tiny;

		.rig-logo {
			height: $small;
		}
	}

	// =============== MISSION SECTION ===============
	.mission {
		min-height: 30rem;
		clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
		background-color: $primaryColor;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: $tiny;
		padding: $small;
		margin-block: $small;

		.primary-heading {
			width: 30%;
			font-family: 'Gabriela', serif;
			font-size: 6rem;
			font-weight: normal;
			color: transparent;
			-webkit-text-stroke: 2px rgba($backgroundColor, 0.8);
		}

		&__img--wrapper {
			display: flex;
			gap: $tiny;
		}

		&__img {
			width: 40%;
			border-radius: 1rem;
		}
	}

	// FOUNDER SECTION
	.founder {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: $medium auto;
		gap: $tiny;
		padding: $small;

		.tertiary-heading {
			margin-bottom: $tiny;
		}

		&__info--wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: $small;
			width: 25%;
		}

		&__info {
			background-color: #143143;
			padding: 1rem;
			border-radius: 0.5rem;
			width: 100%;

			&--img {
				width: 100%;
			}
		}

		&__social {
			display: flex;
			justify-content: center;
			gap: 1rem;
			margin-top: 1rem;

			.icon {
				transition: all ease-in-out 0.2s;
			}

			.icon:hover {
				scale: 1.15;
			}
		}

		&__txt {
			width: 70%;

			.paragraph {
				font-size: 1.4rem;
				margin-top: $tiny;
			}
		}
	}

	.about__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: $small auto;

		.paragraph {
			font-size: 1.8rem;
		}
	}

	// ============== MEDIA QUERIES ==================
	@media screen and (max-width: 800px) {
		@include mobile-display;

		.secondary-heading {
			font-size: 1.8rem;
		}

		.mission {
			clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
			flex-direction: column;

			.primary-heading {
				width: 100%;
			}

			&__img {
				width: 50%;
			}
		}

		.founder {
			flex-direction: column;
			margin: $small;

			&__info--wrapper {
				width: 60%;
				margin-inline: auto;
			}

			&__txt {
				width: 100%;
			}
		}

		.mobile-btn {
			width: fit-content;
			margin: $tiny auto;
		}

		.main {
			.icon {
				filter: invert(90%);
				transition: all ease-in-out 0.2s;
			}

			.icon:active {
				scale: 1.15;
			}
		}
	}
}
