// =============== CONTACT US PAGE STYLES ====================
@use '../abstracts/variables' as *;

.contact-page {
	background-color: rgba($accentColor, 0.2);

	.navbar {
		width: 90%;
		position: static;
	}

	.secondary-heading {
		font-size: 2.8rem;
		margin-bottom: 0;
	}

	.main {
		margin-top: $medium;
		margin-inline: auto;
		width: 80%;
		position: relative;
	}

	.top-bar {
		margin: 0;
		padding: 1rem;
		background-color: transparent;
		border-bottom: 2px solid rgba($accentColor, 0.2);

		.social-icon {
			margin-right: 1rem;
			filter: invert(90%);
			transition: all ease-in-out 0.2s;
		}

		.social-icon:hover {
			scale: 1.1;
			rotate: 10deg;
		}

		.social-icon:active {
			scale: 1.1;
			rotate: -10deg;
		}
	}

	// main content wrapper
	.contact-main {
		margin-block: $tiny;
		display: flex;
		justify-content: space-between;
		gap: $small;

		// contact form
		.form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 45%;

			&__item,
			&__input--wrapper {
				width: 100%;
				display: flex;
				gap: 1rem;
				align-items: center;
			}

			&__input,
			&__input:focus {
				border: unset;
				outline: 2px solid rgba($accentColor, 0.2);
				padding: 1rem;
				width: 100%;
				border-radius: 0.5rem;
				background-color: rgba($backgroundColor, 0.8);
			}
		}

		.btn {
			max-width: 40%;
			margin: $tiny $medium;
		}

		textarea {
			height: 12rem;
		}
	}

	// image group wrapper
	.contact__img--group {
		width: fit-content;
		height: 27rem;
		margin-block: $medium;
		margin-inline: auto 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
	}

	.pattern {
		width: 26rem;
	}

	.center-img {
		width: 21rem;
		z-index: 2;
		left: -1rem;
		bottom: 1rem;
	}

	.top-img {
		width: 12rem;
		z-index: 3;
		top: 0;
		left: -1rem;
	}

	.bottom-img {
		width: 12rem;
		z-index: 3;
		bottom: -1rem;
		left: 8rem;
	}

	.center-img,
	.top-img,
	.bottom-img {
		border-radius: 50%;
		position: absolute;
	}

	// RIG branch cards section
	.rig-branch__group {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
		gap: $small;
		align-items: center;
		margin-block: $tiny $medium;
	}

	.rig-branch {
		width: 100%;
		display: inline-block;
		transition: all ease-in-out 0.2s;
	}

	.rig-branch:hover {
		transform: translateY(-1rem);
	}

	.rig-branch:active {
		transform: translateY(1rem);
	}

	.rig-img {
		width: inherit;
		object-fit: cover;
		cursor: pointer;
	}
}

// =================MEDIA QUERIES =======================
@media screen and (max-width: 800px) {
	.contact-page {
		.top-bar {
			flex-wrap: wrap;
		}

		.tertiary-heading {
			margin: 1rem 0;
		}

		.contact-main {
			flex-direction: column-reverse;
			align-items: center;

			.form {
				width: 80%;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.contact-page {
		.contact-main {
			.form {
				width: 100%;
			}
		}

		.secondary-heading {
			margin-inline: 0;
		}
	}
}
