// =============== LANDING PAGE STYLES =========
@use '../abstracts/variables' as *;

// NEWSLINE (TOP OF PAGE)
.newsline {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: $medium;
	padding: $tiny $small;
	height: $small;
	margin-bottom: $tiny;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;

	&__txt {
		display: flex;
		align-items: baseline;
		gap: 0.2rem;

		&--heading {
			text-transform: uppercase;
			font-weight: 400;
		}

		&--link {
			text-transform: capitalize;
		}
	}

	&__link--group {
		display: flex;
		gap: $tiny;
	}

	&__link {
		height: $tiny;
	}
}

.header {
	position: relative;
	display: flex;
	align-items: flex-end;
	background-image: url('/assets/images/hero-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;
	height: 100vh;
	height: 100dvh;
	width: 100%;
	padding: $small;
}

// ============= HERO SECTION ==============
.hero {
	display: block;
	margin-block: auto 0;
	width: 100%;

	&__txt {
		width: 50%;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-top: $big;

		&--stats {
			display: flex;
			gap: $small;
		}
	}

	.stat {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.logo {
		height: $big;
	}
}

// ================ WELCOME SECTION ==============
.welcome {
	&__txt--title {
		font-family: 'Sacramento', cursive;
		// margin-bottom: $tiny;
		font-size: 8rem;
		font-weight: 400;
	}

	&__txt--heading {
		margin-block: 0 $tiny;
	}
}

// =================== PARTNERS SECTION ===============
.partners {
	width: 90%;
	margin-bottom: $tiny;
	// background-color: bisque;

	// the section wrapper with the bg
	&__wrapper {
		height: calc($large * 4);
		background-image: url('/assets/images/partners-bg.svg');
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;

		&::before {
			content: '';
			display: block;
			height: 100%;
			inset: 0 0 auto;
			z-index: -1;
			position: absolute;
			isolation: isolate;
			clip-path: polygon(0 43%, 100% 0, 100% 100%, 0% 100%);
			background-color: blanchedalmond;
		}
	}

	.col-3 {
		grid-gap: $medium;
	}

	&__heading {
		text-align: center;
		margin-bottom: $small;
	}

	&__card {
		box-shadow: -6px 13px 13px -2px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: -6px 13px 13px -2px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: -6px 13px 13px -2px rgba(0, 0, 0, 0.75);
	}

	.icon {
		height: $small;
		margin-left: 1rem;
	}
}

// ================= UPCOMING EVENTS SECTION ===============
.events {
	width: 80%;
	margin-block: $medium $small;
	margin-inline: auto;

	&__txt {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: $tiny;
	}

	&__card {
		width: 100%;
	}
	.event {
		width: 100%;
	}
}

// ==================== ABOUT ============
.about {
	margin-bottom: $medium;
}

// ============ CALL-T0-ACTION ==============
.cta {
	width: 100%;
	height: 80%;
	padding: $small $tiny;
	margin-top: auto;
	border-radius: 1rem;
	background-color: orangered;
	display: flex;
	justify-content: space-between;

	// CTA CONTAINER
	&__wrapper {
		width: 80%;
		height: calc($large * 3);
		position: relative;
		display: flex;
		align-items: flex-end;
		margin: $small auto;
	}

	&__txt {
		width: 60%;
		display: flex;
		flex-direction: column;

		&--info {
			margin-block: $small 1rem;
		}
	}

	// CTA FORM
	&__form {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-radius: $tiny;
		padding: 0.5rem;

		&--input {
			border: unset;
			outline: unset;
			width: 70%;
			padding: 1rem;
		}

		.btn {
			border-radius: 1.5rem;
		}

		&--btn,
		.icon {
			height: 100%;
		}
	}

	&__img {
		width: 35%;
		position: absolute;
		right: $small;
		bottom: 0;

		.main-img {
			width: 100%;
		}
	}
}
