// =============== RIGX PAGE STYLES ====================
@use '../abstracts/variables' as *;

.rigx-page {
	background-color: rgba($accentColor, 0.2);

	.header {
		background-image: url('/assets/images/rigx-bg.png');
	}

	.hero {
		width: 80%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.main {
		margin-block: $small;
	}

	.contact-wrapper {
		margin: 0 $small;

		hr {
			border: 0.5px solid rgba($accentColor, 0.4);
			margin-bottom: 1px;
		}

		.contact-heading {
			display: flex;
			align-items: center;
			margin-top: $tiny;
		}
	}

	.contact__group {
		margin: $tiny auto;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 21rem));
		gap: $tiny;

		.contact {
			font-size: 1.4rem;
			height: 23rem;
			padding: 1rem;
			background-color: $backgroundColor;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&__name {
				font-weight: bold;
			}

			&__email {
				text-decoration: underline;
			}
		}
	}

	// =============== MEDIA QUERIES ===================

	@media screen and (max-width: 650px) {
		.contact__group {
			grid-template-columns: 1fr;
		}
	}
}
