// ============ SHOP PAGE STYLE =====================
@use '../abstracts/variables' as *;

.featured {
	height: 45rem;
	width: 100%;
	position: relative;
	margin-bottom: $tiny;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: fill;
		-o-object-fit: fill;
	}

	&__card {
		background-color: #2f1f09;
		color: rgba($backgroundColor, 1);
		width: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		position: absolute;
		z-index: 5;
		top: 50%;
		transform: translate(50%, -50%);

		.paragraph {
			font-size: 1.2rem;
			margin: 0;
			padding: 0;
		}

		&--title {
			text-decoration: underline;
		}

		&--btn-group {
			display: flex;
			flex-wrap: wrap;
			gap: $tiny;
		}

		.primary-heading {
			text-transform: uppercase;
			margin: $tiny 0;
			padding: 0;
		}

		.btn {
			text-transform: uppercase;
			padding: 1rem $tiny;
		}
	}
}

.shop-page {
	background-color: rgba($accentColor, 0.2);

	.navbar {
		background-color: rgba($accentColor, 0.6);
		color: $backgroundColor;
		top: 0;
	}

	.top-bar {
		background-color: transparent;
	}

	.search-form__label {
		background-color: rgba($backgroundColor, 0.8);
	}

	.search-form__close {
		color: rgba($accentColor, 0.6);
	}

	.main {
		margin-inline: auto;
		width: 80%;
		padding-top: 12rem;
	}

	.shop-category,
	.shop-category:focus {
		border: unset;
		outline: 2px solid rgba($primaryColor, 1);
		padding: 1rem;
		// width: $;
		border-radius: 0.5rem;
		background-color: rgba($backgroundColor, 0.8);
	}

	.merch-group {
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

		.btn {
			font-size: 1.6rem;
			padding-inline: 0.5rem;
		}
	}

	.shop {
		width: 100%;
		text-align: center;
		padding: $tiny;
		margin-bottom: $medium;

		&__heading {
			font-size: 2.5rem;
		}

		&__card {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: $tiny;
			background-color: $backgroundColor;
			box-shadow: 2px 2px 10px 6px rgba(142, 142, 142, 0.15);
			border-radius: 0.5rem;
			text-align: left;

			&--heading {
				margin-bottom: 0;
				// font-weight: 500;
			}

			&--img {
				width: 100%;
			}

			&--info {
				font-size: 1.4rem;

				// truncate word length
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 5;
				line-clamp: 5;
				-webkit-box-orient: vertical;
			}
		}
	}

	.card-price {
		font-size: 1.8rem;
		font-weight: bold;
	}

	.card-footer {
		width: 100%;
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;

		.icon {
			margin-right: 0.5rem;
		}
	}

	.main-btn {
		text-transform: uppercase;
		margin: $small auto;
		width: 50%;
	}
}

.mini-card-section {
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

	.shop__card {
		padding: 1.5rem;

		.card-price {
			font-size: 1.2rem;
		}
	}

	.btn {
		font-size: 1.2rem;
		padding: 0.5rem;

		.icon {
			height: 1.5rem;
		}
	}
}

.mini-card-heading {
	font-size: 1.5rem;
	font-weight: 700;
}

// =============== MEDIA QUERIES ========================
@media screen and (max-width: 800px) {
	.secondary-heading,
	.primary-heading {
		margin: 0;
	}

	.top-bar {
		padding: 0;
	}

	.featured {
		display: flex;
		flex-direction: column;
		height: auto;

		&__img {
			height: 50%;
		}

		&__card {
			width: 100%;
			position: unset;
			transform: unset;
		}
	}

	.shop-page {
		.shop {
			padding: 0;
			margin-top: $tiny;
		}

		.search-form {
			position: absolute;
			right: $small;
			top: $large;
			z-index: 5;

			.icon {
				display: none;
			}

			.main-btn {
				font-size: 1.8rem;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.featured {
		.primary-heading {
			font-size: 2rem;
		}
	}

	.featured__card--btn-group {
		flex-direction: column;
	}

	.mini-card-heading {
		font-size: 1.2rem;
		font-weight: 400;
	}

	.mini-card-section {
		.card-price {
			font-size: 1.3rem;
		}
	}
}

@media screen and (max-width: 375px) {
	.featured {
		.primary-heading {
			font-size: 1.8rem;
		}
	}

	.mini-card-section {
		grid-template-columns: 1fr;
	}
}
